*{
    font-family: Arial;
    margin: 0;
}

header {
    align-content: center;
    text-align: left;
    color: white;
    background-color: #287404;
    height: 50px;
    width: flex;
    padding: 10px;
}

main {
    padding: 30px;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #65ac1e;
}

footer {
    position: absolute;
    bottom: 0;  
    align-content: center;
    text-align: center;
    color: white;
    background-color: black;
    opacity: 0.75;
    height: 30px;
    width: 100%;
}

